<div class="container">
  <h1>Listas de Cursos</h1>

  <div class="form-group">
    <label for="coursename" class="col-sm-2 col-form-label">Filter By:</label>
    <div class="col-sm-10">
      <input type="text" name="coursename"  class="form-control" [(ngModel)]="filter"/>
      <!-- -->
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Codigo</th>
        <th scope="col">Data de Lançamento</th>
        <th scope="col">Avaliação</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of filteredCourses">
        <td>
          <img
            src="{{ list.imageUrl }}"
            alt=""
            class="img-fluid"
            width="50"
            height="50"
          />
        </td>
        <td>{{ list.name }}</td>
        <td>{{ list.price }}</td>
        <td>{{ list.code | lowercase | replace:'-':' '  }}</td>
        <td>{{ list.releaseDate | date: "dd/MM/YYYY" }}</td>
        <td>
          <!-- {{list.rating}} -->
          <app-star [rating]="list.rating"></app-star>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
